# Dependencies
node_modules
.pnp.*

# Builds / caches
.turbo
.next
.expo
dist
build
coverage
*.tsbuildinfo

# Env/config
.env*
!.env.example
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo / mobile
android
ios

# Hardhat artifacts
packages/contracts/cache
packages/contracts/artifacts

